@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');

:root {
    --primary-fonts: "Mozilla Headline", sans-serif;
    --primary-color: #09684f;
    --secondary-color: #dc3545;
    --variant-color: #0F172A;
    --primary-bg-color: #0F172A;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

a {
    padding: 0px;
    margin: 0px;
    text-decoration: none !important;
}

p {
    padding: 0px;
    margin: 0px;
}

span {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
}

.form_heading {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    font-family: var(--primary-fonts);
    letter-spacing: 1px;
    text-transform: capitalize;
}

.form-select,
.form-label,
.form-control,
.form-check-label {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--primary-fonts);
    letter-spacing: 1px;
}

.form-select:focus,
.form-control:focus {
    box-shadow: none !important;
}

.form-control::placeholder {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--primary-fonts);
    letter-spacing: 1px;
}


/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.dropdown-toggle::after {
    display: none;
}

.dashboard_main_content {
    margin-left: 260px;
    overflow-x: hidden;
}


@media screen and (max-width:768px) {
    .dashboard_main_content {
        margin-left: 0px;
    }
}